%table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tbody
    %tr
      %td#stepBtnHeight.leftCol{:width => "80%"}
        .formBox
          .form-group.f15
            = t("settlement_app.commission_calculation.stored_documents")
          - office_user = current_user.office_users.find_by_user_id(current_user.id)
          - if office_user.present?
            - relationship_type = office_user.relationship_type
            - if relationship_type == "AGENT_ENTREPRENEUR"
              .row.pt10
                .col-xs-12
                  .form-group
                    - sales_team_member = commission.sales_team_members.where(:member_id => current_user.id).first
                    = link_to open_invoice_pdf_path(@commission, sales_team_member_id: sales_team_member.try(:id), format: 'pdf'), class: "btn btn-default btn-lg btn-wrap btn-primary grayBg iconLeft40 text-center text-blue f17 flexRowWrap flexCenterV" do
                      = image_tag "button-icon.png", :width => "50"
                      %span.pl10=t("settlement_app.commission_calculation.open_invoice_copy").html_safe
          .row
            .col-xs-12
              .form-group
                = link_to reward_detail_pdf_path(@commission, format: 'pdf'), class: "btn btn-default btn-lg btn-wrap btn-primary lightBlueBg iconLeft40 text-center text-blue f17 flexRowWrap flexCenterV" do
                  = image_tag "commission/customer_invoice.png", :width => "50"
                  %span.pl10=t("settlement_app.commission_calculation.open_reward_calculation").html_safe
          
      %td.stepBtnGroup{:width => "20%"}
        %button.stepBtn.backBtn{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span
            =t("form_action_button.close")
          = image_tag "remax_back_btn.png", :class => "mt15"
        