- customer_reassigner = message.object
- customer = customer_reassigner.customer
= form_for customer, :url => update_lead_status_customer_reassigners_path(message), :method => 'post' do |f|
  = hidden_field_tag :source, source
  %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td#stepBtnModalHeight.leftCol{:width => "85%"}
          .formBox.minH300
            .formHeader.clearfix
              %h1
                - if customer_reassigner.lead_assign_confirm_time.present?
                  - lead_assign_confirm_time = customer_reassigner.lead_assign_confirm_time.in_time_zone('Helsinki')
                  - lead_end_time = show_date lead_assign_confirm_time
                  - lead_end_hour_min = "#{lead_assign_confirm_time.hour}:#{lead_assign_confirm_time.min}"
                - else
                  - lead_end_time = ''
                  - lead_end_hour_min = ''
                = t('message.commission_reassigner.new_lead_message_title', :lead_end_time => lead_end_time, :lead_end_hour_min => lead_end_hour_min)
            .row.row7
              .col-xs-12
                .form-group.formTitle
                  = t('message.commission_reassigner.customer_contact_info')
              .col-xs-12.col-sm-6
                .form-group
                  = f.text_field :first_name, :class => "form-control", :readonly => true
                .form-group
                  = f.text_field :email, :class => "form-control", :readonly => true 
                .form-group
                  = f.text_area :message, :class => "form-control", :readonly => true
              .col-xs-12.col-sm-6
                .form-group
                  = f.text_field :phone_number, :class => "form-control", :readonly => true
                .row.row7
                  .col-xs-12.col-sm-6
                    .form-group
                      = f.text_field :post_number, :class => "form-control", :readonly => true
                  .col-xs-12.col-sm-6
                    .form-group
                      = f.text_field :city, :class => "form-control", :readonly => true
                .form-group
                  = f.text_field :address, :class => "form-control", :readonly => true
            .row.row7
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t('message.commission_reassigner.confirmed_commission_type')
              .col-xs-12.col-sm-6.col-md-3
                .ctBoxCheck
                  =  f.radio_button :commission_type, "SELL", :checked => (customer_reassigner.commission_type == "SELL"), :disabled => true
                  .ctCheckTop
                    .ctImage
                      = image_tag "remax_selling_commissions.png"
                    .ctTitle
                      =t('desktop.commission_management.sell').html_safe
              .col-xs-12.col-sm-6.col-md-3
                .ctBoxCheck
                  =  f.radio_button :commission_type, "BUY", :checked => (customer_reassigner.commission_type == "BUY"), :disabled => true
                  .ctCheckTop
                    .ctImage
                      = image_tag "remax_buying_commissions.png"
                    .ctTitle
                      =t('desktop.commission_management.buy').html_safe
              .col-xs-12.col-sm-6.col-md-3
                .ctBoxCheck
                  =  f.radio_button :commission_type, "C_RENT", :checked => (customer_reassigner.commission_type == "C_RENT"), :disabled => true
                  .ctCheckTop
                    .ctImage
                      = image_tag "remax_renting_commissions.png"
                    .ctTitle
                      =t('desktop.commission_management.rent').html_safe
              .col-xs-12.col-sm-6.col-md-3
                .ctBoxCheck
                  =  f.radio_button :commission_type, "ESTIMATE", :checked => (customer_reassigner.commission_type == "ESTIMATE"), :disabled => true
                  .ctCheckTop
                    .ctImage
                      = image_tag "remax_background_variables.png"
                    .ctTitle
                      =t('desktop.commission_management.make_property_estimation').html_safe      
        
        %td.stepBtnGroup{:width => "15%"}
          %button.stepBtn.backBtn{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span
              =t("form_action_button.close")
            = image_tag "btn_discard_white.png"
          - if customer_reassigner.status == 'SENT'
            %button.stepBtn.nextBtn{:name => "refuse", :value => "refuse", :type => "submit"}
              %span
                =t("message.commission_reassigner.refuse_lead")
              = image_tag "button_thumb_down.png"
            %button.stepBtn.nextBtn{:name => "confirm", :value => "confirm", :type => "submit"}
              %span
                =t("message.commission_reassigner.confirm_lead")
              = image_tag "button_confirm.png"
            - if customer_reassigner.allow_lead_reassignment?
              %button.stepBtn.nextBtn{:name => "transfer", :value => "transfer", :type => "submit"}
                %span
                  =t("message.commission_reassigner.transfer_lead")
                = image_tag "remax_move.png"
