%table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  - selling_commission = message.object
  - selling_commission = selling_commission.object
  %tbody
    %tr
      %td#stepBtnHeight.leftCol{:width => "80%"}
        .formBox
          .formHeader.clearfix
            %h1
              = t("hint_colleague.case_you_approve")
            - customer_type = selling_commission.commission_customer_type
            .row.pt10
              .col-xs-12
                %label
                  - if customer_type == 'PRIVATE_CUSTOMER' 
                    = t('selling_commission.costomer_name')
                  -else
                    = t('selling_commission.company_name')
                %span
                  = ":"
                %span
                  = customer_type == 'PRIVATE_CUSTOMER' ? @customer_name : @company_name
          .row
            .col-xs-12
              .form-group.bold
                = t('hint_colleague.max_has_done')  
              .form-group
                %ul.pl20
                  %li.pb10
                    = t('hint_colleague.max_has_add')
                  %li.pb10
                    = t('hint_colleague.max_has_open')
          .row
            .col-xs-12
              .form-group
                = t('hint_colleague.check_the_status').html_safe
            .col-xs-12
              .hr.hr25
          .row.row7
            .col-xs-12
              .form-group
                = t('hint_colleague.link_to_customer').html_safe
          .row.row7
            .col-xs-12
              .form-group
                = link_to "#{edit_agent_office_commission_selling_path(selling_commission, :step => 1, :sub_step =>2)}", edit_agent_office_commission_selling_path(selling_commission, :step => 1, :sub_step =>2, :open_card => true)
      %td.stepBtnGroup{:width => "20%"}
        %a.stepBtn.backBtn{"data-show_modal_id" => "HintColleagueModal", :type => "button", :href => "javascript:void(0);", class: "hideShowModal back_btn_for_colleague_form"}
          %span
            =t("form_action_button.close")
          = image_tag "remax_back_btn.png", :class => "mt15"
        