- set_office_connection message.office_id if message.office_id.present?
- hint = message.object
= form_for hint, :url => update_hint_status_agent_office_commissions_path(message), :method => 'get', :remote => true do |f|
  %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    - transmission_hint_maker = @current_brand.setting.transmission_hint_maker.to_i
    - sender = message.try(:sender_name)
    = hidden_field_tag 'step', params[:step]
    = hidden_field_tag 'sub_step', params[:sub_step]
    %tbody
      %tr
        %td#stepBtnHeight.leftCol{:width => "80%"}
          .formBox
            .formHeader.clearfix
              %h1
                = t("hint_colleague.received_hint")
              .row.pt10
                .col-xs-12
                  %label 
                    = t('selling_commission.costomer_name') 
                  %span
                    = ":"
                  %span
                    = "#{hint.try(:customer_name)}"
            .grayBorder1.p10.form-group
              = message.body.to_s.html_safe
            .row.row7
              .col-xs-12.pb10
                = t('hint_colleague.link_to_customer').html_safe
              .col-xs-12
                - if message.hint_status == "ACCEPTED"
                  = link_to "#{edit_agent_office_commission_selling_path(hint, :step => 1, :sub_step =>2)}", edit_agent_office_commission_selling_path(hint, :step => 1, :sub_step =>2, :open_card => true)
                - else
                  = link_to "#{agent_office_commission_selling_path(hint, :step => 1, :sub_step =>2)}", agent_office_commission_selling_path(hint, :step => 1, :sub_step =>2, :open_card => true)
            .row
              .col-xs-12
                .hr
              .col-xs-12
                .form-group.bold
                  = t('hint_colleague.your_colleagues_terms')
            .row.row5
              .col-xs-12.col-sm-3
                .pb5
                  = t('hint_colleague.requested_reward_share')
                .form-control.w120.center
                  = transmission_hint_maker
                %label % 
              .col-xs-12.col-sm-6
                .pb5
                  = t('hint_colleague.hint_status')
                  %span.bold
                    = message.hint_status
                .form-group
                  .form-control.w150
                    = t('hint_colleague.sent')
                    - if message.sent_at.present?
                      = message.sent_at.strftime("%H:%M")
                  .form-control.w150
                    = t('hint_colleague.expires')
                    - if message.sent_at.present?
                      - lead_time = @current_brand.setting.lead_delivere_start_time.strftime("%H:%M").to_i
                      - sent_time = message.sent_at.strftime("%H:%M").to_i
                      - expire_time = sent_time + lead_time 
                      = expire_time
            .row.row5
              .col-xs-12
                .hr.mt0
              .col-xs-12.bold.pb10
                = t('hint_colleague.manage_your_colleague')
              - status_btn_disabled = (message.hint_status == "ACCEPTED" or message.hint_status == "REJECTED"  or message.hint_status == "NO_REPLY") ? true : false
              .col-xs-12.col-sm-4
                %a.btn.btn-blue.btn-md.btn-block.btn-wrap.iconLgLeft.h100p{:href => update_hint_status_agent_office_commissions_path(:id => message.id, :hint_status => "ACCEPTED"), :class => "hint_accept", :id => "hint_status_accept_#{message.id}", :disabled => status_btn_disabled}
                  = image_tag "icon_cog_w.png", :class => "icon"
                  .text-left.text-white.bold
                    = t('hint_colleague.press_here')
                    .normal.f17
                      = t('hint_colleague.accept_the_case')
              .col-xs-12.col-sm-4 
                %a.btn.redBg.btn-md.btn-block.btn-wrap.iconLgLeft.h100p{:href => update_hint_status_agent_office_commissions_path(:id => message.id, :hint_status => "REJECTED"), :class => "hint_reject", :id => "hint_status_reject_#{message.id}", :disabled => status_btn_disabled}
                  = image_tag "icon_ban_w.png", :class => "icon"
                  .text-left.text-blue.bold
                    = t('hint_colleague.press_here')
                    .normal.f17
                      = t('hint_colleague.reject_the_case')
            .row.pt10
              .col-xs-12.pt10
                .form-group.bold.u
                  = t('hint_colleague.contact_details').html_safe
            .row.row-10
              - resource = message.resources['IMAGE::USER_PHOTO']
              .col-xs-12.col-sm-4.col-10.form-group.parent_customer
                .rxTeamBox
                  .row.row1.flexRowWrap
                    .col-xs-12.col-sm-4.col-md-3.text-center.flexRow.flexCenterV
                      / - if message.present?
                      /   = image_tag src="#{message.media.url(:small)}"
                      / - else
                      = image_tag src="noimage.gif"
                    .col-xs-12.col-sm-8.col-md-9
                      .p5.text-blue
                        .formSubTitle
                          = "#{message.sender_name}"
                        .pb10
                          = "#{message.try(:role)}"
                        .flexRow.pb5
                          %span.pr5
                            = image_tag "icon_call.png", :width => "32"
                          %span.pt5
                            = "#{message.try(:phone_number)}"
                        .flexRow.pb5
                          %span.pr5
                            = image_tag "icon_email.png", :width => "32"
                          %span.pt5
                            = "#{message.try(:email)}"
                        .flexRow.pb5
                          %span.pr5
                            = image_tag "icon_office.png", :width => "32"
                          %span.pt5
                            = "#{message.try(:company_name)}"

        %td.stepBtnGroup{:width => "20%"}
          %button.stepBtn.backBtn{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span
              =t("form_action_button.close")
            = image_tag "btn_discard_white.png"
          