= form_for("", :url => send_email_to_agent_customers_path, :method => "POST") do |f|
  %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td#stepBtnHeight.leftCol{:width => "85%"}
          .formBox
            .formHeader.clearfix
              %h1
                = t("message.send_new_message")
                %span= t("message.write_subject_message_proceed_step_3")
            .row
              .col-xs-12
                .form-group
                  %label=t("message.subject")
                  = text_field_tag :subject, :class => "form-control disabled", :id => "subject", :placeholder => t('message.subject_placeholder'), :disabled => true
              .col-xs-12
                .form-group
                  %label=t("message.message")
                  = text_field_tag :body, :rows => 12, :class => "form-control disabled ckeditorCustomStatic", :placeholder => t('message.subject_placeholder'), :disabled => true, :value => @message.body.to_s.html_safe
        %td.stepBtnGroup{:width => "15%"}
          %a.h25.stepBtn.backBtn{:href => "javascrip:void(0)"}
            %span
              =t("form_action_button.return_button")
            = image_tag "remax_back_btn.png", :class => "mt15"
          %button.h75.stepBtn.nextBtn#saveMediaNext{:name => "proceed_next", :type => "submit"}
            %span
              = t("form_action_button.send_message")
            = image_tag "remax_save_and_next_btn.png", :class => "mt15"