.remaxEmail
  .formField
    .row
      .col-xs-12
        = form_for('', url: send_email_regarding_invoice_emails_path, remote: true, :html => {:class => "pre-load-form", :method => "post"}) do |f|
          %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tbody
              %tr
                %td#stepBtnModalHeight.leftCol{:width => "80%"}
                  .formBox
                    .row
                      .col-xs-12
                        .form-group
                          %label=t("executive.recipients")
                        .form-group
                          - member = sales_team_member.member
                          = text_field_tag "recipient_email", member.email, :class => "form-control", :readonly => true
                      .col-xs-12
                        .form-group
                          %label=t("executive.subject")
                        .form-group
                          = text_field_tag :subject, "", :class => "form-control"
                      .col-xs-12
                        .form-group
                          %label=t("executive.message")
                        .form-group
                          = text_area_tag :message, "", :class => "form-control ckeditorCustom", :rows => 16, :id => "body"
                %td.stepBtnGroup{:width => "20%"}
                  %button.h50.stepBtn.backBtn{"aria-label" => "Close", :type => "button", "data-dismiss" => "modal"}
                    %span
                      =t("form_action_button.return_button")
                    = image_tag "remax_back_btn.png", :class => "mt15"
                  %button.h50.stepBtn.nextBtn{:name => "save", :type => "submit"}
                    %span
                      =t("selling_commission.documents_and_partner.send_message")
                    = image_tag "remax_email_btn.png", :class => "mt15"