.col-xs-12.col-sm-6.col-md-4.col-10
  .rxBox
    .rxHeader
      .rxTitle
        .rxValue
          = set_proper_name(office.office_name, 22)
        .rxSubName
          .rxValue
            = office.company_name
      .rxLogo
        / - if office.logo_text.present?
        /   - logo_resource = office.resources["IMAGE::OFFICE_TEXT_LOGO"]
        /   - if logo_resource.present? and logo_resource.media.present?
        /     = image_tag logo_resource.media.url(:medium)
        / - else
        /   = image_tag @current_brand.logo.url
    .rxContent
      .row.row5
        .col-xs-12.col-sm-6
          .p5
            .flexRow.pb10
              %span.pr5
                = image_tag "icon_office.png", :width => "32"
              %span.pt5
                = office.office_name
            .flexRow.pb10
              %span.pr5
                = image_tag "icon_call.png", :width => "32"
              %span.pt5
                = office.phone_number
            .flexRow.pb10
              %span.pr5
                = image_tag "icon_email.png", :width => "32"
              %span.pt5
                = set_proper_email(office.email)

    .rxBottom
      %a.rxNextBtn{:href => office_path(office.id) }
        = t("office.open_card")
        %i.fa.fa-angle-double-right