.container
  #set_flash_message
  .formField
    .row
      #registration-form.col-xs-12
        = render "form_step_#{@step.to_s}"
  - if @step.to_i == 1
    #remaxEmailModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg{:role => "document"}
        .modal-content
          .modal-body
            = render :partial => "emails/form_email", :locals => {:object => @director}
  - if @step.to_i == 6
    #remaxLoginInfoEmailModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg{:role => "document"}
        .modal-content
          .modal-body
            = render :partial => "emails/form_login_info_email", :locals => {:object => @director}
  - if @step.to_i == 5
    #responsiblePersons.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg{:role => "document"}
        .modal-content
          .modal-body
            = render :partial => 'responsible_persons/responsible_persons', :locals => {:object => @director, :object_type => 'user'}
    #registerResponsiblePerson.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg{:role => "document"}
        .modal-content
          .modal-body
            = render :partial => '/responsible_persons/register_responsible_person', :locals => {:for_office => false, :url => register_responsible_person_path(@director.id)}
    #archiveRewardModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg{:role => "document"}
        .modal-content
          .modal-body
            = render :partial => 'agents/archive_rewards', :locals => {:agent => @director,:step => @step,:open_card => params[:open_card]}