.formField
  .row
    .col-xs-12  
    = form_for('', url: update_old_password_path , :multipart => true, :remote => true, :html => {:class => "form-horizontal"}) do |f|
      #forgotPasswordModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.modal-lg{:role => "document"}
          .modal-content
            .modal-body
              .formBox
                .row.row5
                  .col-xs-12
                    .from-group
                      %label.subTitle= t("user.my_settings.forgot_password")
                    .col-xs-6
                      .form-group
                        = password_field_tag :old_password, :class => "form-control", :placeholder => t("user.my_settings.password")
                      .form-group
                        = password_field_tag :new_password, :class => "form-control"
                      .form-group
                        = password_field_tag :password_confirmation, :class => "form-control", :placeholder => t("user.my_settings.password")
                %button
                  =t("general.save_button.fogot_password")