= form_for(current_user, url: personal_settings_path, :multipart => true, :html => {:class => "form-horizontal"}) do |f|
  %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td#stepBtnHeight.leftCol{:width => "80%"}
          .formBox
            .formHeader.clearfix
              %h1
                = t("user.my_settings.manage_own_setting")
            .row
              .col-xs-12.col-sm-5
                .grayBorder2.p5.mt5
                  .medium
                    = t("user.my_settings.user_name")
                  = f.text_field :email, :class => "form-control", :placeholder => t("user.my_settings.login_id")
                .grayBorder2.p5.mt5
                  .row
                    .col-xs-12.col-lg-6
                      .medium
                        = t("user.my_settings.password")
                      = f.password_field :password, :class => "form-control", :placeholder => t("user.my_settings.password"), :disabled=>true
                    .col-xs-12.col-sm-5.col-md-8.col-lg-6.pt20
                      %button.btn.btn-lg.btn-block{"data-target" => "#changePasswordModal", "data-toggle" => "modal", :type => "button"}
                        %span
                          =t("general.change_password")
              .col-xs-12.visible-sm.visible-xs
                .hr.hr25      
              .col-xs-12.col-sm-7
                .row.row7
                  .col-xs-12.col-sm-offset-6
                    .form-group.texr-center
                      = t("user.my_settings.choose_language")
                  .col-xs-12.col-sm-offset-6
                    .row
                      - User.languages.keys.each do |language|
                        .col-xs-12.col-sm-3
                          .langaugeOpt
                            = f.radio_button :language, language
                            = image_tag "flags/#{language}.png", width: 140, :class => "icon"
            - if current_user.director? or current_user.office_manager? or current_user.agent? or current_user.customer?
              .row
                .col-xs-12
                  .hr.hr25
                .col-xs-12    
                  .col-xs-12.col-md-6.col-lg-4
                    .row.row7
                      .col-xs-12.form-group
                        %a.leadTransBtn.grayBgBox.flexRow.noHoverLine{:href => switch_office_path}
                          .row.row10.flexRow
                            .col-xs-12.col-sm-4.flexCol
                              = image_tag "remax_office_register.png"
                            .col-xs-12.col-sm-8.flexCol
                              = t("user.my_settings.switch_office").html_safe
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .bold
                  = t("user.my_settings.my_basic_information")
              .col-xs-12.col-sm-5.pt15
                .grayBorder2.p5.mt5
                  .medium
                    = t("user.my_settings.persons_name")
                  = text_field_tag :name, current_user.name, :class => "form-control", :placeholder => t("user.name")
                .grayBorder2.p5.mt5
                  .medium
                    = t("user.my_settings.postal_address")
                  = f.text_field :post_number, :class => "virtualKeyboard form-control", :placeholder => t("user.post_number")
                .grayBorder2.p5.mt5
                  .medium
                    = t("user.my_settings.postal_code")
                  = f.text_field :city, :class => "form-control", :placeholder => t("user.city")
                .grayBorder2.p5.mt5
                  .medium
                    = t("user.my_settings.city")
                  = f.text_field :phone_number, :class => "virtualKeyboard form-control", :placeholder => t("user.phone_number")
              .col-xs-12.col-sm-7
                - resource = f.object.avatar
                - if resource.attached?
                  .groupContent.center
                    = image_tag src="#{resource.media.url(:medium)}"
            .row
              = render partial: 'shared/add_social_profiles', locals: {f: f}

            .row.pt40
              .col-xs-12
                .bold
                  = t("user.my_settings.calender_sync_settings")
              .col-xs-12.pt5
                .normal
                  = t("user.my_settings.sync_your_system")
              .col-xs-12.pt10
                %label.checkBox
                  = check_box_tag 'calendar_type', false, false
                  %span.lbl
                    = t("user.my_settings.outlook")
              .col-xs-12.pt5
                %label.checkBox
                  = check_box_tag 'calendar_type', false, false
                  %span.lbl
                    = t("user.my_settings.google")
              .col-xs-12.pt5
                %label.checkBox
                  = check_box_tag 'calendar_type', false, false
                  %span.lbl
                    = t("user.my_settings.mac")

          %td.stepBtnGroup{:width => "20%"}
            %a.h50.stepBtn.backBtn{:href => desktop_users_path}
              %span
                =t("form_action_button.discard_changes_and_return_back")
              = image_tag "remax_back_btn.png", :class => "mt15"
            %button.h50.stepBtn.nextBtn#step3Save{:name => "save", :type => "submit"}
              %span
                =t("form_action_button.save_changes_and_return_back")
              = image_tag "remax_save_btn.png", :class => "mt15"