- @settings = @settings || @current_brand.settings
= form_for(@current_brand, :url => update_settings_path, :method => "PUT", :html => {:multipart => true, :id => 'background-variables-form'}) do |f|
  %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td#stepBtnHeight.leftCol{:width => "80%"}
          .formBox
            .formHeader.clearfix
              %h1
                = t("background_variable.background_variables")
            .row
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.sales_area")
              .col-xs-12
                #sales_area
                  - setting = @current_brand.setting("BRAND_SALES_AREA")
                  - sales_area_hash = eval(setting.setting_value) if setting and setting.setting_value.present?
                  - if sales_area_hash.present? 
                    - sales_area_hash.each_with_index do |(sales_area_key,sales_area_value),idx|
                      - idx += 1
                      .added_sales_area{:id => "added_sales_area_wrapper_#{idx}"}
                        .fieldRemove
                          .row.row7
                            .col-xs-12.col-sm-6.form-group
                              = text_field_tag "setting[sales_area_#{idx}][name]", sales_area_value["name"], :class => "form-control"
                          %a.addLink.remove_fields.dynamic.remove_sales_area{:href => "javascript:void(0)", :id => "remove_sales_area_#{idx}"}
                            %i.removeIcon
                            = t('office.remove')
                #input_add_sales_area
              .col-xs-12.form-group
                %a{:href => "javascript:void(0)", :class => "addLink modalLink", :id => "add_new_sales_area"}
                  = t('background_variable.add_sales_area')
                  %i.addIcon
            .row
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.value_added_tax_base")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.common_tax_base")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'COMMON_TAX_BASE', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.reduced_tax_base_1")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'REDUCED_TAX_BASE_1', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.reduced_tax_base_2")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'REDUCED_TAX_BASE_2', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.tax_free_service")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'TAX_FREE_SERVICE', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
            .row
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.price_navigator_weights")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= Time.now.year
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'PRICE_NAVIGATOR_WEIGHT_1', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= Time.now.year - 1
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'PRICE_NAVIGATOR_WEIGHT_2', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= Time.now.year - 2
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'PRICE_NAVIGATOR_WEIGHT_3', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= Time.now.year - 3
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'PRICE_NAVIGATOR_WEIGHT_4', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.value_of_monthly_sales_report")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.regional_fee")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'REGIONAL_CONTINUING_FEE', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.regional_promition_fee")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'REGIONAL_PROMITION_FEE', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.annual_dues")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'ANNUAL_DUES_VALUE', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label 
                      = @current_brand.currency_code
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.europe_fees")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.continuing_fees")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'CONTINUING_FEES', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.promotion_fees")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'PROMITION_FEES', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.annual_dues")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'ANNUAL_DUES', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.creative_fund")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'CREATIVE_FUND', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.transfer_tax")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.unit_transfer_tax")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'CO_OPERATIVE_DEAL_TAX', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.property_transfer_tax")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'TRANSACTION_DEAL_TAX', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.customer_billing_invoice_params")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.claims_period")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'CLAIMS_PERIOD', :decimal_points => 0}
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.late_payment_interest")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'LATE_PAYMENT_INTEREST', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.sales_team")
              .col-xs-12.form-group
                .row
                  .col-xs-12.col-sm-12.col-lg-3.pt12.mt15
                  .col-xs-5.col-sm-4.col-lg-2.text-center
                    %label.blue
                      = t("background_variable.reward_division")
                  .col-xs-1.col-sm-2.col-lg-1.mt15.pl0
                  .col-xs-5.col-sm-6.col-lg-3.text-center
                    %label.blue
                      = t("background_variable.sales_report_points_1")
                  .col-xs-5.col-sm-6.col-lg-3.text-center
                    %label.blue
                      = t("background_variable.sales_report_points_2")
                .row
                  .col-xs-12.col-sm-12.col-lg-3.mt15
                    %label= t("background_variable.listing_agent")
                  .col-xs-5.col-sm-4.col-lg-2.text-center
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'COMMISSION_DEAL_MAKER', :decimal_points => 2}
                  .col-xs-1.col-sm-2.col-lg-1.mt15.pl0
                    %label %
                  .col-xs-5.col-sm-6.col-lg-3.text-center
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'SALES_REPORT_POINTS_FOR_ONE_LISTING_AGENT', :decimal_points => 2}
                  .col-xs-5.col-sm-6.col-lg-3.text-center
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'SALES_REPORT_POINTS_FOR_MORE_LISTING_AGENT', :decimal_points => 2}
              .col-xs-12.form-group
                .row
                  .col-xs-12.col-sm-12.col-lg-3.pt12
                    %label= t("background_variable.selling_agent")
                  .col-xs-5.col-sm-6.col-lg-2
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'COMMISSION_PROPERTY_SELLER', :decimal_points => 2}
                  .col-xs-1.col-sm-2.col-lg-1.pt12.pl0
                    %label %
                  .col-xs-5.col-sm-6.col-lg-3
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'SALES_REPORT_POINTS_FOR_ONE_SELLING_AGENT', :decimal_points => 2}
                  .col-xs-5.col-sm-6.col-lg-3
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'SALES_REPORT_POINTS_FOR_MORE_SELLING_AGENT', :decimal_points => 2}

              .col-xs-12.form-group
                .row
                  .col-xs-12.col-sm-12.col-lg-3.pt12
                    %label= t("background_variable.referral_agent")
                  .col-xs-5.col-sm-4.col-lg-2
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'TRANSMISSION_HINT_MAKER', :decimal_points => 2}
                  .col-xs-1.col-sm-2.col-lg-1.pt12.pl0
                    %label %
                  .col-xs-5.col-sm-6.col-lg-3
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'SALES_REPORT_POINTS_FOR_ONE_REFERRAL_AGENT', :decimal_points => 2}
                  .col-xs-5.col-sm-6.col-lg-3
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'SALES_REPORT_POINTS_FOR_MORE_REFERRAL_AGENT', :decimal_points => 2}
            .row
              .col-xs-12
                .hr
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.set_lead_deliver_time")
                .form-group.row.row7
                  %label.col-xs-12.col-sm-6.pt15
                    = t("background_variable.lead_delivery_start_day")
                  .col-xs-12.col-sm-6.col-md-6
                    .col-xs-12
                      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'LEAD_DELIVERY_START_DAY', :decimal_points => 2}
                .form-group.row.row7
                  %label.col-xs-12.col-sm-6.pt15
                    = t("background_variable.lead_transmission_start_time")
                  .col-xs-12.col-sm-6.col-md-6
                    .col-xs-5
                      - setting = @current_brand.setting('LEAD_DELIVERE_START_TIME')
                      - start_hour = setting.setting_value.present? ? '%02d' % Time.parse(setting.setting_value).hour : '10'
                      - start_minute = setting.setting_value.present? ? '%02d' % Time.parse(setting.setting_value).min : '00'
                      = number_field_tag 'start_hour', start_hour, :class => "form-control virtualKeyboard", :maxlength => 2
                    .col-xs-2
                      .mt15.center
                        = ":"
                    .col-xs-5
                      = number_field_tag 'start_minute', start_minute, :class => "form-control virtualKeyboard", :maxlength => 2
                .form-group.row.row7
                  %label.col-xs-12.col-sm-6.pt15
                    = t("background_variable.lead_delivery_end_day")
                  .col-xs-12.col-sm-6.col-md-6
                    .col-xs-12
                      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'LEAD_DELIVERY_END_DAY', :decimal_points => 2}
                .form-group.row.row7
                  %label.col-xs-12.col-sm-6.pt15
                    = t("background_variable.lead_transmission_end_time")
                  .col-xs-12.col-sm-6.col-md-6
                    .col-xs-5
                      - setting = @current_brand.setting('LEAD_DELIVERE_END_TIME')
                      - end_hour = setting.setting_value.present? ? '%02d' % Time.parse(setting.setting_value).hour : '18'
                      - end_minute = setting.setting_value.present? ? '%02d' % Time.parse(setting.setting_value).min : '00'
                      = number_field_tag 'end_hour', end_hour, :class => "form-control virtualKeyboard", :maxlength => 2
                    .col-xs-2
                      .mt15.center
                        = ":"
                    .col-xs-5
                      = number_field_tag 'end_minute', end_minute, :class => "form-control virtualKeyboard", :maxlength => 2
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.concern_reward")
              .col-xs-12.form-group
                .row
                  .col-xs-12.col-sm-7.col-lg-6.pt12
                    %label= t("background_variable.chain_share_commission_reward")
                  .col-xs-11.col-sm-3.col-lg-2
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'COMMISSION_REWARD', :decimal_points => 2}
                  .col-xs-1.col-sm-2.col-lg-1.pt12.pl0
                    %label %
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.superintendent_documents")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.superintendent_document_is_valid")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'SUPERINTENDENT_DOCUMENT_VALID_MONTHS', :decimal_points => 0}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label
                      = t('background_variable.months')
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.apartment_limit_title")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.apartment_limit")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'APARTMENT_LIMIT', :decimal_points => 0}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label
                      = t('background_variable.apartments')
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.finnish_interest_act")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.finnish_interest_act_current_rate")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'PENALTY_INTEREST', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label
                      = t('background_variable.pct_pa')
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.rate_per_kilometer_title")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.rate_per_kilometer")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'RATE_PER_KILOMETER', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label
                      = @current_brand.currency_sign
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.home_office_remax_billing_information")
              .col-xs-12
                .form-group
                  %button.btn.btn-default.btn-md.btn-wrap.btn-block.darkGrayBg{:class => "openCloseDetails remax_button", :type => 'button', 'data-show_modal_id' => "remax_company_info"}
                    .set_title_name
                      = t('background_variable.real_estate_franchise')
                    .show_selected_detail_arrow{:class => ""}
                      .row.row2
                        .col-xs-6.text-right
                          = t('background_variable.open')
                          %i.fa.fa-angle-double-down.fa-26.verTop
                        .col-xs-6.text-left
                          = t('background_variable.details')
                    .show_selected_detail_arrow{:class => "hide"}
                      .row.row2
                        .col-xs-6.text-right
                          = t('background_variable.close')
                          %i.fa.fa-angle-double-up.fa-26.verTop
                        .col-xs-6.text-left
                          = t('background_variable.details')
                .row{:id => "remax_company_info", :class => "hide"}
                  = render :partial => "settings/background_variables_info", :locals => {f: f}
              .col-xs-12
                .form-group
                  %button.btn.btn-default.btn-md.btn-wrap.btn-block.darkGrayBg{:class => "openCloseDetails kahiseva_button", :type => 'button', 'data-show_modal_id' => "remax_company_info"}
                    .set_title_name
                      = t('background_variable.kahiseva_ltd')
                    .show_selected_detail_arrow{:class => ""}
                      .row.row2
                        .col-xs-6.text-right
                          = t('background_variable.open')
                          %i.fa.fa-angle-double-down.fa-26.verTop
                        .col-xs-6.text-left
                          = t('background_variable.details')
                    .show_selected_detail_arrow{:class => "hide"}
                      .row.row2
                        .col-xs-6.text-right
                          = t('background_variable.close')
                          %i.fa.fa-angle-double-up.fa-26.verTop
                        .col-xs-6.text-left
                          = t('background_variable.details')
                .row{:id => "remax_company_info", :class => "hide"}
                  = render :partial => "settings/background_variables_kahiseva_info", :locals => {f: f}

        %td.stepBtnGroup{:width => "20%"}
          %a.h50.stepBtn.backBtn{:href => resource_variable_executives_path}
            %span
              =t("form_action_button.discard_changes_and_return_back")
            = image_tag "remax_back_btn.png", :class => "mt15"
          %button.h50.stepBtn.nextBtn{:name => "proceed_next", :type => "submit"}
            %span
              = t("form_action_button.save_changes_and_return_back")
            = image_tag "remax_save_btn.png", :class => "mt15"  