- @settings = @settings || @current_brand.settings
= form_for(@current_brand, :url => update_settings_path, :method => "PUT", :html => {:multipart => true, :id => 'background-variables-form'}) do |f|
  %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tbody
      %tr
        %td#stepBtnHeight.leftCol{:width => "80%"}
          .formBox
            .formHeader.clearfix
              %h1
                = t("background_variable.manage_background_variables")
            .row
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.value_added_tax_base")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.common_tax_base")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'COMMON_TAX_BASE', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.reduced_tax_base_1")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'REDUCED_TAX_BASE_1', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.reduced_tax_base_2")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'REDUCED_TAX_BASE_2', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.tax_free_service")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'TAX_FREE_SERVICE', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %
            .row
              .col-xs-12
                .hr.hr25
              .col-xs-12
                .form-group.formTitle
                  = t("background_variable.customer_billing_params")
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.payment_term")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'PAYMENT_TERM', :decimal_points => 0}
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.claims_period")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'CLAIMS_PERIOD', :decimal_points => 0}
              .col-xs-12.col-lg-6.form-group
                .row
                  .col-xs-12.col-sm-7.pt12
                    %label= t("background_variable.late_payment_interest")
                  .col-xs-11.col-sm-3.pl0-sm-up
                    = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'LATE_PAYMENT_INTEREST', :decimal_points => 2}
                  .col-xs-1.col-sm-2.pt12.pl0
                    %label %


        %td.stepBtnGroup{:width => "20%"}
          %a.h50.stepBtn.backBtn{:href => resource_variable_executives_path}
            %span
              =t("form_action_button.discard_changes_and_return_back")
            = image_tag "remax_back_btn.png", :class => "mt15"
          %button.h50.stepBtn.nextBtn{:name => "proceed_next", :type => "submit"}
            %span
              = t("form_action_button.save_changes_and_return_back")
            = image_tag "remax_save_btn.png", :class => "mt15"  