.col-xs-12
  .row.row7
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_COMPANY_NAME', :decimal_points => "text_field",:placeholder_text => t("background_variable.company_name")}
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_COMPANY_ID', :decimal_points => "text_field",:placeholder_text => t("background_variable.company_id")}
  .row.row7
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_BRAND_NAME', :decimal_points => "text_field",:placeholder_text => t("background_variable.brand_name")}
.col-xs-12
  .form-group.formTitle
    = t("background_variable.remax_address")
.col-xs-12
  .row.row7
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_ADDRESS', :decimal_points => "text_field",:placeholder_text => t("background_variable.street_po_box")}
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_POST_NUMBER', :decimal_points => "text_field",:placeholder_text => t("background_variable.postal_code")}
  .row.row7
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_CITY', :decimal_points => "text_field",:placeholder_text => t("background_variable.city")}
.col-xs-12
  .row.row7
    .col-xs-12.col-sm-6
      .bold.pb5
        = t("background_variable.kahiseva_website")
      .form-group
        = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_WEBSITE', :decimal_points => "text_field",:placeholder_text => "WWW."}
    .col-xs-12.col-sm-6
      .bold.pb5
        = t("background_variable.remax_phone_number")
      .form-group
        = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_PHONE_NUMBER', :decimal_points => "text_field",:placeholder_text => ""}
.col-xs-12
  .form-group.formTitle
    = t("background_variable.billing_information")
.col-xs-12
  #kahiseva_bank_account_details
    - setting = @current_brand.setting("KAHISEVA_BANK_DETAILS")
    - bank_details_hash = eval(setting.setting_value) if setting.setting_value.present?
    - if bank_details_hash.present? 
      - bank_details_hash.each_with_index do |(bank_key,bank_value),idx|
        - idx += 1
        .added_kahiseva_bank_account{:id => "added_kahiseva_bank_account_wrapper_#{idx}"}
          .fieldRemove
            .row.row7
              .col-xs-12.col-sm-6.form-group
                = text_field_tag "setting[kahiseva_bank_details_#{idx}][name]", bank_value["name"], :class => "form-control"
              .col-xs-12.col-sm-6.form-group
                = text_field_tag "setting[kahiseva_bank_details_#{idx}][number]",bank_value["number"], :class => "form-control"
            %a.addLink.remove_kahiseva_fields.dynamic.remove_kahiseva_bank_account_details{:href => "javascript:void(0)", :id => "remove_kahiseva_bank_account_details_#{idx}"}
              %i.removeIcon
              = t('general.remove')
  #input_add_kahiseva_bank_account_details
.col-xs-12.form-group
  %a{:href => "javascript:void(0)", :class => "addLink modalLink", :id => "add_new_kahiseva_bank_account"}
    = t('background_variable.add_bank_account')
    %i.addIcon
.col-xs-12
  .row.row7
    .col-xs-12.bold.pb5
      = t("background_variable.postal_address_for_invoices")
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_INVOICE_ADDRESS', :decimal_points => "text_field",:placeholder_text => t("background_variable.street_po_box")}
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_INVOICE_POST_NUMBER', :decimal_points => "text_field",:placeholder_text => t("background_variable.postal_code")}
  .row.row7
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_INVOICE_CITY', :decimal_points => "text_field",:placeholder_text => t("background_variable.city")}
.col-xs-12
  .row.row7
    .col-xs-12.bold.pb5
      = t("background_variable.email_address_for_invoices")
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_INVOICE_EMAIL', :decimal_points => "text_field",:placeholder_text => t("background_variable.email_address")}
.col-xs-12
  .row.row7
    .col-xs-12.bold.pb5
      = t("background_variable.electronic_invoices")
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_INVOICE_OPERATOR', :decimal_points => "text_field",:placeholder_text => t("background_variable.e_invoicing_operator")}
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_INVOICE_E_ADDRESS', :decimal_points => "text_field",:placeholder_text => t("background_variable.e_invoicing_address")}
  .row.row7
    .col-xs-12.col-sm-6.form-group
      = render :partial => "settings/setting_form", :locals => {f: f, :setting_key => 'KAHISEVA_INVOICE_OVT_ID', :decimal_points => "text_field",:placeholder_text => t("background_variable.ovt_id")}
