.nested-fields.working-offices
  .row
    .col-xs-12
      .form-group
        - if current_user.director? or current_user.office_manager?
          = f.select :office_id, ([[t('agent.select_office'), '']] + current_user.offices.collect{|office| [office.name, office.id]}), {}, :class => "form-control"
        - else
          = f.select :office_id, ([[t('agent.select_office'), '']] + @current_brand.offices.collect{|office| [office.name, office.id]}), {}, :class => "form-control"
    .col-xs-12
      .form-group
        = f.label t('agent.contractual_relationship')
    .col-xs-12
      .row
        - @relationship_types.each do |relationship_type|
          - if relationship_type == @default_relationship_type
            - checked = (f.object.new_record? || f.object.relationship_type == relationship_type)
          - else
            - checked = f.object.relationship_type == relationship_type
          .col-xs-12.col-sm-6.col-lg-3
            .form-group
              %label.radioBox
                = f.radio_button :relationship_type, relationship_type, checked: checked
                %span.lbl=t("user.relationship_types.#{relationship_type.downcase}")
    .col-xs-12
      .text-right.pb5
        %label
          = link_to_remove_association f, :class => 'addLink removeWorkingOffice' do
            %i.removeIcon
            = t('agent.remove_office')