.remaxEmail
  .formField
    .row
      .col-xs-12
        = form_for(object, url: send_special_request_emails_path , :html => {:class => "", :method => "post"}) do |f|
          = f.hidden_field :id, value: @event.id
          = f.hidden_field :speaker_member, value: speaker_member
          %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tbody
              %tr
                %td#stepBtnModalHeight.leftCol{:width => "80%"}
                  .formBox
                    .row
                      .col-xs-12
                        .form-group
                          #input_partner_recipient
                            %p
                              %label
                                =t("referral_event.send_offer_request.recipient")
                              = text_field_tag "recipient_email[]", @event.user.email, :class => "form-control form-group", :id => "input_recipient_email", readonly: true
                      .col-xs-12
                        .form-group
                          %label
                            =t("referral_event.send_offer_request.subject")
                          = text_field_tag :subject, t("referral_event.send_special_request.subject"),:class => "form-control"
                      .col-xs-12
                        .form-group
                          %label
                            - recipient_name = object.event_speaker_members.find_by_token(params[:member_token].split("&")[0]).member.name
                            =t("referral_event.send_offer_request.message")
                          %label
                            = t("referral_event.send_special_request.text_area_message", recipient_name: recipient_name).html_safe
                      .col-xs-12
                        .form-group
                          = text_area_tag :special_request_textarea,'', :rows => 2, :class => "form-control",:placeholder => t("referral_event.send_special_request.special_request_text")
                %td.stepBtnGroup{:width => "20%"}
                  %button.h25.stepBtn.backBtn{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span
                      =t("form_action_button.close_message")
                    = image_tag "back_btn.png", :class => "mt15"
                  %button.h75.stepBtn.nextBtn#saveMediaNext{:name => "next", :type => "submit"}
                    %span
                      =t("form_action_button.send_information_to_organizer")
                    = image_tag "straumann_email_btn.png", :class => "mt15"