.remaxEmail
  .formField
    .row
      .col-xs-12
        = form_for(object, url: send_event_state_emails_path , :html => {:id => "send_event_state_form_#{event_state}", :method => "post"}) do |f|
          = f.hidden_field :id, value: @event.id
          = hidden_field_tag :event_state, event_state
          - confirmation = event_state == "confirm" ? "confirmation" : "cancellation"
          %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tbody
              %tr
                %td#stepBtnModalHeight.leftCol{:width => "80%"}
                  .formBox
                    .row
                      .col-xs-12
                        .form-group
                          #input_partner_recipient
                            %p
                              %label
                                =t("referral_event.send_offer_request.recipient")
                                - place_provider = @event.place_provider_partner_id.present? ? @current_brand.referral_service_providers.find(@event.place_provider_partner_id) : ''
                              - place_provider_email = place_provider.present? ? place_provider.email : "" 
                              = text_field_tag "recipient_email[]",place_provider_email, :class => "form-control form-group", :id => "send_event_input_recipient_email_#{event_state}"
                      .col-xs-12
                        .form-group
                          %label
                            =t("referral_event.send_offer_request.subject")
                          = text_field_tag :subject, t("referral_event.send_event_#{confirmation}.subject_name",event_date: @event.event_date.to_datetime.to_s(:default_date)),:class => "form-control", :id => "send_event_input_subject_#{event_state}"
                      .col-xs-12
                        .form-group
                          %label
                            =t("referral_event.send_offer_request.message")
                          - if @current_brand.logo.present?
                            - logo_url = absolute_url(@current_brand.logo.url, @current_brand)
                          - else
                            - logo_url = ''                             
                          - address = place_provider.present? ? place_provider.address : ""
                          - company_name = place_provider.present? ? place_provider.company_name : ""
                          - user = @event.user
                          - message = t("referral_event.send_event_#{confirmation}.text_area_message", event_place: address ,:recipient_name => company_name, event_date: @event.event_date.to_datetime.to_s(:default_date), event_start_time: @event.event_start_time.to_datetime.to_s(:default_time), event_end_time: @event.event_end_time.to_datetime.to_s(:default_time), name: user.name, email: user.email, phone_number: user.phone_number, role: user.role.humanize, :footer_logo_url => logo_url).html_safe
                          = hidden_field_tag 'old_message', message
                          = text_area_tag :message, message, :rows => 16, :class => "form-control ckeditorCustom", :id => "send_event_input_message_#{event_state}"                          
                %td.stepBtnGroup{:width => "20%"}
                  %button.h25.stepBtn.backBtn{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span
                      =t("form_action_button.return_button")
                    = image_tag "back_btn.png", :class => "mt15"                      
                  %button.h75.stepBtn.nextBtn{:name => "next", :type => "submit"}
                    %span
                      =t("form_action_button.send_message")
                    = image_tag "brand_email_btn.png", :class => "mt15"