.remaxEmail
  .formField
    .row
      .col-xs-12
        = form_for(object, url: send_remainder_to_potential_contacts_emails_path , :html => {:class => "", :method => "post", :id => "send_reminder_to_potential_form_email"}) do |f|
          = f.hidden_field :id, value: @event.id
          %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tbody
              %tr
                %td#stepBtnModalHeight.leftCol{:width => "80%"}
                  .formBox
                    .row
                      .col-xs-12
                        .form-group
                          #input_partner_recipient
                            %p
                              %label
                                =t("referral_event.send_offer_request.recipient")
                              - potential_and_registered_list_count = @event.event_cancel ? @event.event_speaker_members.potential_and_registered_list.count : @event.event_speaker_members.potential_list.count
                              = text_field_tag "recipient_email[]", t("referral_event.send_remainder_to_potential_contact.potential_list", count: potential_and_registered_list_count, event_name: @event.event_name.gsub(' ', '_'), event_date: @event.event_date.to_datetime.to_s(:default_date)), :class => "form-control form-group", :id => "send_reminder_input_recipient_email", :readonly =>true
                      .col-xs-12
                        .form-group
                          %label
                            =t("referral_event.send_offer_request.subject")
                          - sub_topic = @event.sub_topic.present? ? ": #{@event.sub_topic}" : ""
                          - cancel_subject = t("referral_event.send_offer_request.cancellation", :main_topic => @event.main_topic, :sub_topic => sub_topic, :event_date => @event.event_date.to_datetime.to_s(:default_date))
                          - subject = @event.event_cancel ? cancel_subject : ""
                          = text_field_tag :subject, subject,:class => "form-control", :id => "send_reminder_input_subject"
                      .col-xs-12
                        .form-group
                          %label
                            =t("referral_event.send_offer_request.message")
                          - if @current_brand.logo.present?
                            - logo_url = absolute_url(@current_brand.logo.url, @current_brand)
                          - else
                            - logo_url = ''
                          - place = @event.partner_place.present? ? @event.partner_place.address : ''
                          - city = @event.partner_place.present? ? @event.partner_place.city : ''
                          - event_confirm_url = event_confirm_executives_url(:token => @event.token)
                          - link_body = "<a href='#{event_confirm_url}&status=ACCEPT'>Yes I register</a> <a href='#{event_confirm_url}&status=PENDING'>I still consider</a> <a href='#{event_confirm_url}&status=REJECT'>Sorry I can't make it</a>"
                          - caller = @event.confirm_caller ? @event.user : (@event.caller ? @event.caller : nil)
                          - if caller.present?
                            - event_caller = caller
                            - event_caller_name = event_caller.name
                            - event_caller_email = event_caller.email
                            - event_caller_phone_number = event_caller.phone_number
                            - event_caller_job_title = event_caller.job_role
                            / - event_caller_organization = event_caller.organization
                            - event_caller_organization = ""
                          - else
                            - event_caller = event_caller_name = event_caller_email = event_caller_phone_number =  event_caller_job_title = event_caller_organization = ''
                          - if @event.event_cancel
                            - message = t("referral_event.send_invitation_for_target_group.text_area_message_cancel", name: event_caller_name, email: event_caller_email, phone_number: event_caller_phone_number, job_title: event_caller_job_title, organization: event_caller_organization, :footer_logo_url => logo_url)
                          - else
                            - message = t("referral_event.send_invitation_for_target_group.text_area_message", event_main_topic: @event.main_topic, event_sub_topic: sub_topic, event_date: @event.event_date.to_datetime.to_s(:default_date), event_start_time: @event.event_start_time.to_datetime.to_s(:default_time), event_end_time: @event.event_end_time.to_datetime.to_s(:default_time), place: place, city: city, link_body: link_body, name: event_caller_name, email: event_caller_email, phone_number: event_caller_phone_number, job_title: event_caller_job_title, organization: event_caller_organization, :footer_logo_url => logo_url).html_safe
                          = hidden_field_tag 'old_message', message
                          = text_area_tag :message, message, :rows => 16, :class => "form-control ckeditorCustom", :id => "send_reminder_input_message"
                      .col-xs-12
                        %label= t('general.attachments')                          
                      .col-xs-12
                        .form-group
                          = link_to t("referral_event.invitation_template"), print_invitation_template_pdf_index_path(@event.id, :format => "pdf"), class: "h15 stepBtn nextBtn"
                %td.stepBtnGroup{:width => "20%"}
                  %button.h25.backBtn.stepBtn{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                    %span
                      =t("form_action_button.return_button")
                    = image_tag "back_btn.png", :class => "mt15"
                  %button.h75.stepBtn.nextBtn#saveMediaNext{:name => "next", :type => "submit"}
                    %span
                      =t("form_action_button.send_message")
                    = image_tag "brand_email_btn.png", :class => "mt15"