%div{:id => "contract_#{contract.id}_notice"}
.row
  .col-xs-8.col-sm-10
    .form-group{:id => "contract_file_#{contract.id}", :class => "pt5"}
      %label.normal
        - if contract.media.present?
          = link_to contract.media_attachment_name, download_resource_path(contract.id), :class => 'blue'
        - else
          .blue
            = contract.media_attachment_name
  - if current_user.executive?
    .col-xs-4.col-sm-2.pl0-sm.text-right
      %a.btn.btn-primary.btn-blue.btn-block.contract_edit{:href => "javascript:void(0)", :id => "contract_edit_#{contract.id}"}
        =t("document_group.edit_document")
.row.form-group.hide{:id => "contract_form_#{contract.id}"}
  = form_for contract, url: update_contract_contract_group_path(contract.resource_holder, contract), method: 'PUT', remote: true, :html => {:class => 'pre-load-form'} do |f|
    .col-xs-12.col-md-4.pb5.pr0-md-up{:id => "contract_name_#{contract.id}", :class => 'hide'}
      = f.text_field :media_attachment_name, :class => "form-control", :placeholder => t('document_group.placeholder.document_name'), :value => contract.media_attachment_name, :id => "groupContractMediaFileName_#{contract.id}"
    .col-xs-12.col-sm-3.col-md-2.mt10.pr0-sm-up
      = f.submit t('document_group.save'), :class => "btn btn-primary btn-blue btn-block"
    .col-xs-12.col-sm-3.col-md-2.mt10.pr0-sm-up.hide{:id => "contract_cancel_#{contract.id}"}
      = link_to t('document_group.cancel'), get_contract_contract_group_path(contract.resource_holder, contract), :class => "btn btn-primary btn-blue btn-block pre-icon-load", method: 'GET', remote: true
    .col-xs-12.col-sm-3.col-md-2.mt10.pr0-sm-up
      %a.btn.btn-primary.btn-blue.btn-block.btn-upload
        = t('document_group.reupload_file')    
        = f.file_field :media, :class => "file-control groupContractMedia", :id => "groupContractMedia_#{contract.id}"
    .col-xs-12.col-sm-3.col-md-2.mt10.hide{:id => "contract_remove_#{contract.id}"}
      = link_to t('document_group.remove_file'), delete_contract_contract_group_path(contract.resource_holder, contract), remote: true, method: 'DELETE', :class => "btn btn-primary btn-block", data: { confirm: t('document_group.remove_file_confirmation_message', file_name: contract.media_attachment_name) }